[package]
name = "bilibili-live-danmu"
version = "0.4.0"
authors = ["fplust <fplustlu@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
#async-std = "1"
tokio = { version = "0.2", features = ["stream"] }
async-tungstenite = { version = "0.5", features = ["tokio-runtime", "tokio-tls"] }
# tokio-tungstenite = "0.9"
url = "2.1"
futures = "0.3"
serde = { version = "1", features = ["derive"] }
serde_json = "1.0"
bincode = "1"
byteorder = "1"
chrono = "0.4"
reqwest = { version = "0.10", features = ["json"]}
libflate = "1.0"

[dev-dependencies]
clap = "2"
# browsercookie-rs = "0.1"
browsercookie-rs = { path = "../browsercookie-rs" }
regex = "1"
ansi_term = "0.12"
rustyline = "6"
# cursive = "0.12"

[lib]
name = "blive_danmu"

[[example]]
name = "blive"
